.wrapper.music{
  position: absolute;
  left: 96%;
  width: 68px;
  overflow: hidden;
}

.music svg{
  width: 52px;
  cursor: pointer;
}

.music svg path{
  fill:none;
  stroke:#F5EDA7;
}

.music svg path:not(:last-child){
  stroke-width: 22px;
}

.circle_lg{
  stroke-dasharray: 600px 1500px;
  stroke-width: 41px;
  transition: all .5s;
}

.circle_sm{
  
  opacity: 1;
  transition: all .25s;
}

.music svg.mute .circle_lg{
  stroke-dashoffset: -1360px;
  stroke-width: 41px;
}

.music svg.mute .circle_sm{
  opacity: 0;
}