#main{
    margin-top:2%;
    margin-left:0%;
    float: left;
    width: 20%;
    }
    body {
    margin: 0%;
    background: url(image/fon.jpg);
    background-attachment: fixed;
    background-size: 100%;
    height: 50%;
    }
    a { 
    text-decoration: none;
    } 
    #header {
    background: #ffffff;
    height: 5%;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    }
    
    a {
    text-decoration: none;
    background-image: linear-gradient(#6895D0 50%,#6895D0  50%), linear-gradient(#F5EDA7 50%, #F5EDA7 50%); 
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: 0 2px, 100% 2px; 
    color: #F5EDA7; 
    padding-bottom: 0.3%; 
    transition: .5s ease-in-out;
    }
    a:hover {
    text-decoration: none;
    background-size: 100% 2px, 100% 2px;
    color: #6895D0;
    } 
    ul a{
        background: none;
    }
    
    .glav{
    float: left;
    width: calc(100% - 20%);
    }
    .glav>p{
    font-size: 1.41vw;
    margin-top: 3%;
    }
    .rightimg {
    float: right;
    margin: 10% 0% 15% 0%;
    width: 27%;
    }
    .fter {
    position:absolute;
    top:calc(100% + 20%);
    height: 7%;
    clear: both;
    width: 100%;
    margin: 0 auto;
    margin-top: 12%;
    }
    .fter p {
    margin: 0;
    font-size: 0.78vw;
    text-align: center;
    color: #F5EDA7;
    }
    hr {
    border: none;
    background-color: #F5EDA7;
    height: 4%;
    }

    #clock{
        height: 5%;
        display: inline-block;
        position: absolute;
        left: 46%;
        font-size: 2vw;
        line-height: 250%;
        color: #F5EDA7;
    }
    
    #clock div{
     float: left;   
    }
    #clock div:not(:last-child):after{
        content: ':';   
    }

    #clock:after{
        clear: both;
        content: '.';
        visibility: hidden;
    }

    .onas{
        position: absolute; 
        left: calc(100% - 8.3%); 
        margin-top: 1.5%; 
        font-size: 1.50vw;
    }

    .cyb{
        position: absolute; 
        left: calc(100% - 17%); 
        margin-top: 1.5%; 
        font-size: 1.5vw;
    }